<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>show-result</string>
			<key>Image File</key>
			<string>icon.png</string>
			<key>Regular Expression</key>
      		<string>(?s)\d+$</string>
			<key>Shell Script File</key>
			<string>kill_process.sh</string>
			<key>Title</key>
			<string>KillProcess</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://www.gitbook.com/book/dearhwj/itbook</string>
			<key>Name</key>
			<string>Daniel Hu</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Kill Process</string>
	<key>Extension Identifier</key>
	<string>com.dearhwj.popclip.extension.killprocess</string>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>Kill Process</string>
		<key>zh-CN</key>
		<string>杀死进程</string>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
